Q1: Modify the first item (22) of a list inside a following tuple to
222

tuple1 = (11, [22, 33], 44, 55)

In [2]:
tuple1 = (11,[22,33],44,55)
tuple1[1][0]=222
print(tuple1)

(11, [222, 33], 44, 55)

Q2:Count the number of occurrences of item 50 from a tuple

tuple1 = (50, 10, 60, 70, 50)

In [9]:
def Count(tuple1,nm):
    return tuple1.count(nm)
tuple1=(50,10,60,70,50)
num=50
print(Count(tuple1,num),"times")

2 times

Q3: Write a Python program to convert a list to a tuple

In [8]:
list1=[2,5,8,10,9,1]
print((list1),"=" ,'list')
#convert list1 to tuple
tuple1=tuple(list1)
print((tuple1),"=",'tuple')

[2, 5, 8, 10, 9, 1] = list
(2, 5, 8, 10, 9, 1) = tuple

Q4: Returns a new set with all items from both sets by removing
duplicates

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [10]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

Q5: Merge following two Python dictionaries into one

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [11]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3=dict1.copy()
dict3.update(dict2)
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Q6: Given a Python dictionary, Change Bradâ€™s salary to 8500

sampleDict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 6500}
}

In [13]:
sampleDict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 6500}
}

sampleDict['emp3']['salary'] = 8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

Q7: Rename key city to location in the following dictionary

sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}

In [24]:
sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}
sampleDict['location']=sampleDict.pop('city')
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}